<mat-toolbar color="primary" class="nav-items">
    <div class="nav-items-left">
        <span class="home-span" (click)="goHome()">PGR</span>
    </div>
    <div class="nav-items-right">
        <button mat-flat-button color="primary" *ngIf="!signedIn" routerLink="/auth/signin">Sign In</button>
        <button mat-raised-button *ngIf="!signedIn" routerLink="/auth/signup">Sign Up</button>
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu" class="settings-menu" *ngIf="signedIn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item routerLink="/users/{{username}}/profile">
                <mat-icon>account_circle</mat-icon>
                <span>My Account</span>
            </button>
            <button *ngIf="isStaff$ | async" mat-menu-item [matMenuTriggerFor]="adminMenu">
                <mat-icon>supervisor_account</mat-icon>
                <span>Admin</span>
            </button>
            <mat-menu #adminMenu="matMenu">
                <button mat-menu-item routerLink="/admin/add-game">
                    <mat-icon>add_box</mat-icon>
                    <span>Add Game</span>
                </button>
                <button mat-menu-item routerLink="/admin/edit-game">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Game</span>
                </button>
            </mat-menu>
            <button mat-menu-item (click)="signOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign Out</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
