.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-items-left {
        span {
            padding: 0 14px;
        }
    }

    .nav-items-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            padding: 0 14px;
        }
    }

    .home-span:hover {
        cursor: pointer;
    }

}
