@import "~src/styles/colors";


.profile-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-fields-container {
        border-radius: 10px;
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 10px 30px 30px 30px;

        background-color: $secondary-dark-background;

        .edit-profile-form {
            display: flex;
            flex-direction: column;

            label {
                opacity: 0.7;
                margin-bottom: -13px;
            }

            .profile-pic-basic-info {
                display: flex;
                flex-direction: row;

                .profile-pic-default {
                    font-size: 100px;
                    height: 100px;
                    width: 100px;
                    margin-right: 20px;
                    z-index: 10;
                }

                .image-input {
                    visibility: hidden;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                }

                .profile-pic-default:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                .profile-basic-info {
                    display: flex;
                    flex-direction: column;
                }

                .profile-pic{
                    height: 100px;
                    width: 100px;
                    margin-right: 20px;
                    z-index: 10;
                    border-radius: 100%;
                }

                .profile-pic:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

        }

        .edit-profile-buttons {
            display: flex;
            flex-direction: row;

            button {
                margin-right: 15px;
            }
        }
    }
}
